/* Navbar */
.navbar {
    background-color: #323232;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.5);
}

/* Changes colour and size of nav links */
.navbar .nav-link {
    color: #fff;
    font-size: 1.2rem;
}

/* Adds underline and changes colour when hovering over nav links */
.navbar .nav-link:hover {
    color: #005F41;
    text-decoration: underline;
}

/* When screen is at medium breakpoint or less, stops nav link items from being underlined */
@media (max-width: 768.98px) {
    .navbar .nav-link:hover {
        text-decoration: none;
    }
}

/* Remove border on navbar toggler */
.navbar .navbar-toggler {
    border: none;
}

/* Removes box shadow on navbar toggler when toggled */
.navbar .navbar-toggler:focus {
    box-shadow: none;
}

/* Changes colour and size of navbar toggler icon */
.navbar .toggle-icon {
    color: #fff;
    font-size: 1.5rem;
}


/* Home */

/* Changes background image of home page */
#home{
    background-image: url('./assets/home_background.jpg');  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;  
}

/* Changes size of h1 on home page */
#home .container h1 {
    font-size: 4rem;
}

/* Services */

/* Changes background colour of services section */
#services {
    background-color: #005F41;    
}

/* Font size for icons on services */
.custom-icon {
    font-size: 6rem;    
}

/* Gallery */

/* Changes background colour of gallery section */
#gallery {
    background-color: #323232;
}

/* Box shadow for image gallery carousel */
#imageCarousel {
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.5);
}

/* About */

/* Changes background colour of about section */
.about-description {
    background-color: #005F41;
}

/* Contact */

/* Changes background colour of contact section */
.contact-info {
    background-color: #005F41;
}

/* Changes background colour of contact form */
.contact-form {
    background-color: #323232;
}

/* Custom styling for form inputs and text area */
#contact form input,
#contact form textarea {
    background-color: #323232;
    color: #fff;
    border: none;
    box-shadow: none;
    border: 3px solid #005F41;
    border-radius: 0px;
    resize: none;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
}

/* Removes box shadow when input is selected */
#contact form input:focus,
#contact form textarea:focus {    
    box-shadow: none;
}

/* Changes colour of placeholder text */
#contact form input::placeholder,
#contact form textarea::placeholder {
    color: #8f9798;
}

/* Button */


/* Custom styling for boxy buttons */
#home .boxy-button,
#contact .boxy-button {
    background-color: #323232;
    color: #fff;   
    border: none; 
    border-radius: 0px;    
    box-shadow: inset 0 0 0 3px #005F41, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
    font-size: 1.4rem;
    box-sizing: border-box;
}

/* Changes colour of button when hovering over it */
#home .boxy-button:hover,
#contact .boxy-button:hover {
    box-shadow: inset 0 0 0 8px #005F41, 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
    color: #fff;
}

/* Removes box shadow when button is active */
#home .boxy-button:active,
#contact .boxy-button:active {
    box-shadow: inset 0 0 0 5px #005F41, 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

/* Other */

/* Custom line height spacing */
.custom-line-height {
    line-height: 2.5;
}