.navbar {
    background-color: #323232;
}

.navbar .nav-link {
    color: #fff;
    font-size: 1.2rem;
}

.navbar .nav-link:hover {
    color: #005F41;
    text-decoration: underline;
}

.navbar .navbar-toggler {
    border: none;
    box-shadow: none;
}

.navbar .toggle-icon {
    color: #fff;
    font-size: 1.5rem;
}